/*
colors
Dark Blue:00334a
Light Blue: 00a8c8
White: White
Light Green: 83c70a
Dark Grey: 7a848f
Light Grey: d0d6dd
*/

.h1 {
	font-size: 100px;
	color:#72c0e4;
}


.h2{
	color: #d0d6dd;
}
.p1 {
	font-size: 100px;
	color: #72c0e4;
}
.p2 {
	font-size: 15px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pagination {
	display: inline-block;
	left: 205px;
	top: 55px;
	position: fixed;
	font-family: sans-serif;
}

.pagination a {
	background-color: #00a8c8;
	color: black;
	float: left;
	padding: 15px 25px;
	text-decoration: none;
	border: 1px solid #DDDDDD;
	font-family: sans-serif;
}

.pagination a.active {
	background-color: #00334a;
	color: white;
	border: 1px solid #DDDDDD;
	font-family: sans-serif;
}

.pagination a:hover:not(.active) {
	background-color: #83c70a;
}

.headbar{
	height: 30px;
	width: 100%;
	background-color:#00334a;
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: -1;
}

.headbar2{
	height: 30px;
	width: 100%;
	background-color:#00334a ;
	left: 0px;
	top: 150px;
	position: fixed;
	z-index: -1;
}

.navbar {
	height: 130px; 
	width: 100%; 
	position: fixed;
	top: 20px;
	left: 0px;
	right: 0px;
	background-color: #7a848f; 
	font-family: sans-serif;
}

.sidebar2  {
	width: 52px;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 160px;
	left: 0px;
	background: #00334a ;
	padding: 8px 0;
	font-family: sans-serif;
}

body {
    background-color: #d0d6dd;
}
	  
#main-content{
	left: 52px;
	top: 166px;
	padding: 20px;
	position: absolute;
	font-family: sans-serif;
	z-index: -1;
}

#main-content-cal{
	left: 30px;
	top: 166px;
	padding: 20px;
	position: absolute;
	font-family: sans-serif;
	z-index: -1;
}

img {
	padding: 20px;
	width: 150px;
}

/* Weekdays (Sunday-Saturday) */
.weekdays {
margin: 0;
  padding: 10px 0;
  background-color:#00a8c8;
  text-align: center;
}

/* Days (1-31) */
.days {
  background-color: #d0d6dd;
  	list-style-type: none;
	font-style: bold;
}

.monthName {
 	width: 100%;
  	background: #00334a;
  	text-align: center;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size:50px;
}

.CalName {
	width: 100%;
	background: #00334a;
	text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size:50px;
	bottom: 50px;
}

.Calender {
	display: grid;
}

.dayNum {
	position: relative;
	top: -40px;
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
}

.eventLabel {
	position: relative;
	top: -40px;
	font-size: 15px;
	font-family: 'Times New Roman', Times, serif;
}

.week {
	display: inline-block;
	font-size: 25px;
}

.gridItem {
	border: 5px solid black;
	width: 200px;
	height: 150px;
	text-align: left;
}

.gridItemWeek {
	border: 5px solid black;
	width: 200px;
	height: 25px;
	margin: 1px;
}

table {
	background-color: #d0d6dd;
	margin-left: 90px;
}

#WeekHeader {
	display: grid;
	display: inline-block;
}